{% extends 'base.html' %}
{% block title %}iCoder - BlogHome{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% load crispy_forms_tags %}
{% block js %}
<script>
	previews=document.getElementsByClassName('preview')
	Array.from(previews).forEach((element)=>{
		element.innerHTML=element.innerText
	})
</script>
{% endblock js %}
{% block body %}
<div class="container my-3">
		<h2>Our Blogs</h2>
		{% if user.is_authenticated %}
		<form action="" method="post"> {% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Submit</button>
		</form>
		{% else %}
		<h4>Login to add a Post</h4>
		{% endif %}
		{% for post in allposts %}
		<div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} (Views : {{post.views}})</strong>
					<h3 class="mb-0">{{post.title}} </h3>
					<div class="mb-1 text-muted">{{post.timestamp}} </div>
					<p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:100}}</div> </p>
					<div class="my-2">
						<a href="/blog/{{post.slug}}" role="button" class="btn btn-outline-success my-2 my-sm-0">Continue reading</a>
					</div>
				</div>
		</div>
		{% endfor %}
</div>
{% endblock body %}